/*===================================
MY CUSTOM TYPOGRAPHY CSS
======================================= */

//IF "em" font size USED -"Changed according to requerment"//

    //$base-font-size: 1.25em !default;  	// 20px
    //$h1-font-size: 7.15em !default;  	// 143px
    //$h2-font-size: 3.4em !default;  	// 68px
    //$h3-font-size: 2.8em !default;  	// 56px
    //$h4-font-size: 2.1em !default;  	// 42px
    //$h5-font-size: 1.3em !default;  	// 29px
    //$h6-font-size: 1em !default;  		// 20px

//Above Commented - IF "em" font size USED -"Changed according to requerment"// 



//
// Typography
// --------------------------------------------------


// Headings
// -------------------------






// Body text
// -------------------------






// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }



// Page header
// -------------------------



// Lists
// -------------------------

// Unordered and Ordered lists


// List options














/*====================================
MY CUSTOM CSS // END /- 
====================================== */