/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Include fonts
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Variables
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

$primary-font: 'Roboto', sans-serif;

//Color variables  
$primary-color: #000 !default;
$secondary-color: #75b530 !default;

$text-color: #333333 !default;

$white-color: #ffffff !default;
$black-color: #000000 !default;
   
//=================================================================================================================//

