//buttons
@mixin button-bg($bg, $color) {
	background: $bg;
	color: $color;
	border: 2px solid $bg;
	display: inline-block;
	transition: all 0.4s ease-in-out;
	&:hover {
		background: darken($bg, 8%);
		border-color: darken($bg, 8%);
	}
	&.active {
		background: darken($bg, 8%);
		border-color: darken($bg, 8%);
	}
}

@mixin button-line($border, $hov-color) {
	background: transparent;
	color: $border;
	border: 2px solid $border;
	transition: all 0.4s ease-in-out;
	&:hover {
		background: $border;
		border-color: $border;
		color: $hov-color;
	}
	&.active {
		background: $border;
		border-color: $border;
		color: $hov-color;
	}
}

